<html  lang="en">
<head>
<link  rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"  crossorigin="anonymous">
<title>OAuth2</title>
</head>
<body>
  <div  class="container">
    <div  class="row justify-content-center">
      <div  class="col-4">
      <h1  class="text-center">OAuth2</h1>
          {% if status == 'login' %}
                <a class="btn btn-block btn-light" href="{% url  'social:begin' 'github' %}?next=/login/">GitHub</a>
                <a class="btn btn-block btn-light" href="{% url  'social:begin' 'gitlab' %}?next=/login/">GitLab</a>
          {% else %}
                <div class="alert alert-success" role="alert">{{ name }}, super_user[{{ superuser }}]</div>
                <a class="btn btn-block btn-secondary" href="{% url 'restf:logout' %}?next=/login/">Log out</a>
          {% endif %}
                <a class="btn btn-block btn-dark" href="{% url "admin:index" %}">admin</a>
                <a class="btn btn-block btn-info" href="{% url 'doc:schema-swagger-ui' %}">swagger</a>
      </div>
    </div>
  </div>
</body>
</html>